/node_modules/
/.idea/
/secrets.json
/scripts/
/build/
/test/
/accounts.json
/truffle-config.js
/.env
/.DS_Store
yarn.lock
/yarn.lock
setup.sh
/setup.sh
/setup
.DS_Store
.DS_Store*
.DS_Store
/flats
/bytecodes
package-lock.json